/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/gradle/wrapper/gradle-wrapper.jar
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL/android-project/gradle/wrapper/gradle-wrapper.jar
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_image/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_image/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_image/Xcode/macOS/SDL2.framework/Resources/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Resources/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/bootstrap_builds/sdl2/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Resources/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/arm64-v8a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[B].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/arm64-v8a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[b_].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/arm64-v8a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[bb].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/arm64-v8a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[oB].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/arm64-v8a__ndk_target_21/kivy/kivy/deps/__init__.py
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/armeabi-v7a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[B].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/armeabi-v7a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[b_].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/armeabi-v7a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[bb].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/armeabi-v7a__ndk_target_21/kivy/doc/sources/guide/images/size_hint[oB].jpg
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/kivy/armeabi-v7a__ndk_target_21/kivy/kivy/deps/__init__.py
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/libffi/arm64-v8a__ndk_target_21/libffi/.travis/compile
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/libffi/arm64-v8a__ndk_target_21/libffi/testsuite/libffi.bhaible/Makefile
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/libffi/armeabi-v7a__ndk_target_21/libffi/.travis/compile
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/other_builds/libffi/armeabi-v7a__ndk_target_21/libffi/testsuite/libffi.bhaible/Makefile
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/build/venv/lib64/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/gradle/wrapper/gradle-wrapper.jar
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL/android-project/gradle/wrapper/gradle-wrapper.jar
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_image/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_image/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_image/Xcode/macOS/SDL2.framework/Resources/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_mixer/Xcode/macOS/SDL2.framework/Resources/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Versions/Current/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Headers/
/.buildozer/android/platform/build-arm64-v8a_armeabi-v7a/dists/KivyApp/jni/SDL2_ttf/Xcode/macOS/SDL2.framework/Resources/
